<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurante comida Dominicana</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="../index.html"
          ><img
            class="logotipo"
            src="../assets/images/logotipo-ElGrandePicalonga.png"
            alt="Logotipo del restaurante El grande Picalonga con ciudad de fondo y bandera de Repúnlica dominicana"
        /></a>
        <h1>El Grande Picalonga</h1>
        <input type="checkbox" id="check-menu" class="check-menu" />
        <div class="links-navbar">
          <a href="../index.html">Inicio</a>
          <a href="./carta.html">Nuestra Carta</a>
          <a href="./domicilio.html">Haz Tu Pedido</a>
          <a href="#" class="active">Contacta Con Nosotros</a>
        </div>
        <label for="check-menu" class="label-check">
          <img
            class="menu-hamburguesa"
            src="../assets/images/galeria/menu-svgrepo-com.svg"
            alt="menu hamburguesa"
            width="800"
            height="800"
          />
        </label>
      </nav>
    </header>
    <main>
      <!-- Mapa e indicaciones de como llegar -->
      <div class="titulo-contacto">
        <h2 class="tituloMap">Como Llegar a Nuestro Restaurante</h2>
        <p class="bolder">
          Aquí te dejamos las indicaciones para que puedas llegar fácilmente
        </p>
      </div>
      <div class="map-container">
        <div id="map" class="map"></div>
      </div>
      <div class="datos-contacto">
        <div class="datos-contacto1">
          <p class="bolder">
            Restaurante El Grande Picalonga,<br />
            Centro Comercial La Farga Planta 2 <br />Av. de Josep Tarradellas i
            Joan, 08901 <br />L´Hospitalet de Llobregat.
          </p>
        </div>
        <!---- Tarjeta Datos de Contacto -->
        <div class="datos-contacto2">
          <h4>Nuestro Horario:</h4>
          <p class="bolder">Lunes a Domingo de 12 a 23:30h.</p>
          <h4>Teléfono de Contacto:</h4>
          <p class="bolder">614375536</p>
          <h4>También puedes contactarnos por e-mail:</h4>
          <p class="bolder">elgrandepicalonga@hotmail.com</p>
        </div>
      </div>
    </main>
    <!-- Footer. -->
    <footer>
      <div class="derechos-reservados">
        <p>Todos los derechos reservados.</p>
      </div>
      <div class="direccion">
        <p class="direccion1">
          El Grande Picalonga, Centro Comercial La Farga Planta 2,<br />
          Av. de Josep Tarradellas i Joan, 08901 <br />
          L'Hospitalet de Llobregat.
        </p>
        <div class="contacto">
          <div class="contacto1">
            <img
              src="../assets/images/reloj.png"
              alt="icono de reloj"
              width="512"
              height="512"
            /><span>Lunes a Domingo: 12h - 23:30H</span>
          </div>
          <div class="contacto1">
            <img
              src="../assets/images/movil.png"
              alt="icono de movil"
              width="512"
              height="512"
            /><span>614375536</span>
          </div>
          <div class="contacto1">
            <img
              src="../assets/images/email.png"
              alt="icono email"
              width="512"
              height="512"
            /><span>elgrandepicalonga@hotmail.com</span>
          </div>
        </div>
      </div>
      <div class="redes-sociales">
        <h3 class="titulo-redes-sociales">Síguenos en redes sociales</h3>
        <a
          href="https://www.instagram.com/reel/C4AJOMRIpqf/?igsh=d2VidjNud3BvYjFj"
          ><img
            class="icono-redes"
            src="../assets/images/instagram.png"
            alt="icono de instagram"
            width="512"
            height="512"
        /></a>
        <a href="https://www.tiktok.com"
          ><img
            class="icono-redes"
            src="../assets/images/tiktok.png"
            alt="icono de tiktok"
            width="512"
            height="512"
        /></a>
      </div>
    </footer>
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="../js/contacto.js"></script>
  </body>
</html>
